@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
  box-sizing: border-box;
}
body,html {
  height: 99%;
  background-color: #A7A192;
  font-family: 'Montserrat', helvetica, sans-serif;
}



.container {
  background-image: url("JavaScript.png");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
}

.content {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
button {
    
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid black;
    background: #efd61ddc;
    color: black;
    box-shadow: 1px 1px 2px #efd61ddc;
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
  }

a{
  color:#efd61ddc;
}